body {
margin: 0;
font-family: Arial, sans-serif;
background: #000;
color: #fff;
}


header {
padding: 60px 40px;
text-align: center;
background: linear-gradient(135deg, #000, #0ff3);
}


header h1 {
font-size: 48px;
color: #0ff;
margin: 0;
}


header p {
color: #ccc;
font-size: 20px;
}


section {
padding: 50px 40px;
max-width: 1000px;
margin: auto;
}


h2 {
font-size: 34px;
color: #0ff;
margin-bottom: 20px;
}


.project {
background: #111;
border: 1px solid #0ff3;
padding: 20px;
border-radius: 12px;
margin-bottom: 30px;
}


.project h3 {
color: #0ff;
margin-top: 0;
}


.project p {
color: #ccc;
}


footer {
text-align: center;
padding: 20px;
color: #777;
font-size: 14px;
border-top: 1px solid #0ff3;
margin-top: 40px;
}
